[submodule "ansible/roles/ansible-role-k3s"]
	path = ansible/roles/ansible-role-k3s
	url = https://github.com/PyratLabs/ansible-role-k3s.git
[submodule "ansible/roles/k3s"]
	path = ansible/roles/k3s
	url = https://github.com/PyratLabs/ansible-role-k3s.git
[submodule "ansible/playbooks/openstack-ansible"]
	path = ansible/playbooks/openstack-ansible
	url = https://github.com/openstack/openstack-ansible.git
[submodule "ansible/kubespray"]
	path = ansible/kubespray
	url = https://github.com/3letteragency/kubespray.git
[submodule "tailscale"]
	path = ansible/roles/tailscale
	url = https://github.com/artis3n/ansible-role-tailscale.git
