[Interface]
PrivateKey = {{ interface.private_key }}
Address = {{ interface.address }}
PostUp = iptables -A FORWARD -i {{ interface.name }} -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ interface.name }} -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
ListenPort = {{ interface.listen_port }}
