data_dir  = "{{ nomad_data_dir }}"

bind_addr = "{{ nomad_bind_addr }}" # the default

advertise {
  # Defaults to the first private IP address.
  http = "{{ nomad_advertise_http }}"
  rpc  = "{{ nomad_advertise_rpc }}"
  serf = "{{ nomad_advertise_serf }}:5648" # non-default ports may be specified
}

server {
  enabled          = {{ nomad_server_enabled }}
  bootstrap_expect = {{ nomad_server_bootstrap_expect }}
}

client {
  enabled       = {{ nomad_client_enabled }}
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}
